.site.site-main
  .a this is title section
  .b this is main section
  .c this is header section
  .d this is sidebar section
  .e this is footer section

:javascript
  $(".a").html("screen size is "+$( window ).width()+"px");
